h1 {
	font-family: "Arial";
}
h2 {
	font-family: "Arial";
}
ol {
	border-style: solid;
	border-color: black;
	border-width: 2px 0px 2px 0px;
}
li {
	font-family: "Arial";
	font-size: 20;
	list-style-position: inside;
	margin-left: -40px;
}
a {
	color: black;
	text-decoration: none;
}
p {
	font-size: 19;
}
.extrabottomborder {
	border-width: 2px 0px 4px 0px; 
	border-style: solid; 
	border-color: black;
}
.extratopborder {
	border-width: 4px 0px 2px 0px; 
	border-style: solid; 
	border-color: black;
}
.noextraborder {
	border-width: 2px 0px 2px 0px; 
	border-style: solid; 
	border-color: black;
}
.logokuva {
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-style: solid;
	border-width: 5px 0px 5px 0px;
	border-color: black;
}
.linkkipalkki {
	background-color: #E00600;
	position: absolute;
	top: 110;
	left: 0;
	right: 0;
	color: white;
	font-size: 30;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: black;
}
.inactive {
	color: white;
	font-family: "Comic Sans MS";
	z-index: 3;
	text-decoration: none;
}
.active {
	color: #AAAAAA;
	font-family: "Comic Sans MS";
	z-index: 3;
}
.sidebar {
	width: 25%;
	height: 1799;
	position: absolute;
	right: 0;
	top: 155;
	background-color: #FFDA00;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	border-color: black;
	z-index: 2;
	color: black;
}
.Artikkelit {
	width: 75%;
	position: absolute;
	left: 0;
	top: 155;
	text-decoration: none;
	background-image: url('gradiant1.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
.Artikkeli1 {
	padding: 0px 0px 80px 0px;
	border-width: 2px 0px 2px 0px; 
	border-style: solid; 
	border-color: black;
}
.Artikkeli2 {
	padding: 0px 0px 80px 0px;
	border-width: 2px 0px 2px 0px; 
	border-style: solid; 
	border-color: black;
	background-image: url('gradiant1.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.adposition {
	display: block;
	margin: auto;
}
.luelisää {
	background-color: #aaaaaa;
	float: right;
	z-index: 1;
	border-width: 0px 5px 0px 5px;
	border-style: solid;
	border-color: #aaaaaa;
	padding: 10px;
	margin: 0px 20px 40px 0px;
}